<nav class="navbar navbar-default navbar-fixed-top ">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'lab-10:index' %}">Home</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      {% if isLogin %}
      <ul class="nav navbar-nav">
        <li><a href="{% url 'lab-10:auth_logout' %}" onclick="return confirm('Keluar?')">Logout</a></li>
      </ul>
      {% endif %}
    </div><!--/.nav-collapse -->
  </div>
</nav>
