body{
	font-style: Segoe UI;
	background-color: lightblue;
}
.login{
	position: fixed;
	margin-top: 25%;
	margin-left: 20%;
}
.page{
	width: 75%;
	margin: auto;
}
.cover{
	z-index: 0;
    height: auto; 
    width: 100%;  
    max-height: 300px;
    overflow: hidden;
    margin-bottom: 10px;
}
.picture{
	margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 10%; 
}
.feed{
	border-style:solid;
	border-radius: 5px;
	border-color:grey;
	margin-bottom: 5px;
	background-color: white;
}
