{% extends "lab_4/layout/base.html" %}

{% block content %}
<style type="text/css">
	.image{
		border-radius:90%;
		width: 500px;
		height: 500px;
		margin-left: 30%;
	}
</style>
<section name ="img">
	<img src="https://i.imgur.com/RMbrrBv.jpg" class="image"	alt="My image"/>
</section>
<h1>Portofolio</h1>
<hr/>
<section name="bio">
	<h2>Bio</h2>
	<p>
		{{content}}
	</p>    
</section>
<hr/>
<section name="about_me">
	<h2>Work Experience</h2>
	<ul>
		{% for ii in about_me %}
		<li> {{ ii }} </li>
		{% endfor %}
	</ul>
</section>
<section>
	<h2>Proficiency</h2>
	<ul>
		{% for ii in skill %}
		<li> {{ ii }} </li>
		{% endfor %}
	</ul>
</section>
<hr/>
 <section name="form">
	<h2>Send Message</h2>
	<form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
		{% csrf_token %}
		{{ message_form }}
		<br>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</section>
{% endblock %}
