{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> friend Fasilkom</h2>
                    <div id="friend-list" class="list-group">

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script>
        $( document ).ready(function () {
            {# lengkapi pemanggilan ajax berikut untuk mengambil daftar teman yang ada di database #}
            $.ajax({
                method: "GET",
                url: "{% url "lab-7:list-teman" %}",
                success: function (friend_list) {
                    var friendlist = JSON.parse(friend_list)
                    if(friendlist.length == 0){
                        $("#friend-list").append("Tidak ada teman")
                    }
                    else{
                        $.each(friendlist, function(index, friend){
                            var buttonDetail = '<span class="btn btn-xs btn-default pull-right" onClick="detailFriend('+friend.pk+')">Detail</span>'
                            var buttonDelete = '<span class="btn btn-xs btn-default pull-right" onClick="deleteFriend('+friend.pk+')">Delete</span>'
                            var isi = '<a class="list-group-item clearfix"'+' id="friend-list-'+friend.pk+'">'+friend.fields.friend_name+"("+friend.fields.npm+")"+buttonDetail+buttonDelete+'</a>'
                            $("#friend-list").append(isi)
                        })
                    }
                },
            });
        });
        deleteFriend = function(id){
            $.ajax({
                method:"GET",
                url: "delete-friend/"+id,
                success: function(){
                    $("#friend-list-"+id).remove()
                }
            })
        }
        detailFriend = function(id){
            window.open("friend-detail/?id="+id)
        }
    </script>
{% endblock %}
